* {
  border : thin red dotted;
}

.card {
  display          : block;
  width            : 344px;
  min-height       : 304px;
  margin           : 8px;
  overflow         : hidden;
  border-radius    : 2px;
  background-color : #fafafa;
  box-shadow       : 0 27px 55px 0 rgba(0, 0, 0, 0.3),
                     0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.card__image {
  width  : 100%;
  height : 100%;
}



.card__extra {
    display: flex;
    flex-direction: row;
}


.avg-rating {
    height: auto;
}
