/* EXTRA SMALL | max-width: 768px */

.card {
  display          : block;
  max-width        : 600px;
  max-height       : 450px;
  margin           : 8px;
  overflow         : hidden;
  border-radius    : 2px;
  background-color : #fafafa;
  box-shadow       : 0 27px 55px 0 rgba(0, 0, 0, 0.3),
                     0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.card__image {
  width  : 100%;
  height : 100%;
}

.card__content {
    display: block;
    padding: 0 15px;
    min-height: 140px;
    max-height: 140px;
}

/* SMALL | min-width: 768px | max-width: 992px */

@media
(min-width : 768px) {
    .card {
        min-width: 275px;
        min-height: 280px;
        max-width: 350px;
        /*max-height: 310px;*/
    }
}

/* MEDIUM | min-width: 992px | max-width: 1200px */

@media
(min-width : 992px) {
    .card {
        /**/
    }
}

/* LARGE | min-width: 1200px */

@media
  (min-width : 1200px) {
}



/*.card__extra {
  display        : flex;
  flex-direction : row;
}*/

.avg-rating {
  height : auto;
}
