.star-rating__checkbox {
  position : absolute;
  width    : 1px;
  height   : 1px;
  clip     : rect(0 0 0 0);
  margin   : -1px;
  padding  : 0;
  overflow : hidden;
  border   : 0;
}

.star-rating__star {
  display            : inline-block;
  padding            : 3px;
  color              : #ABABAB;
  vertical-align     : middle;
  font-size          : 1.5em;
  line-height        : 1;
  -webkit-transition : color .2s ease-out;
  transition         : color .2s ease-out;
}

.star-rating__star:hover {
  cursor : pointer;
}

.star-rating__star.is-selected {
  color : #FFD700;
}

.star-rating__star.is-disabled:hover {
  cursor : default;
}
