* {
    box-sizing: border-box;
}

header {
    border: thin dotted purple;
    font-family: Source Sans Pro;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 10px 0 #999;
    min-height: 80px;
    box-sizing: border-box;
}

div.left-container {
    width: 50%;
    background-color: grey;
}

img.logo {
    width: 100%;
    height: auto;
    position: absolute;
    vertical-align: middle;
    border: 0;
}

.logo-box {
    display: inline-block;
    position: relative;
    padding: 0px !important;
    outline: none;
    text-decoration: none;
    width: 100px;
    float: left;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 15px;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: #343434;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 28px 10px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}





/* RIGHT CONTAINER */
.right-container {
    float: right;
    position: relative;
    display: inline-block;
    /*float: left;*/
    padding: 15px;
}

.fela-zz4weo {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-family: Montserrat;
    letter-spacing: -0.3px;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    background-color: #91c11e;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

@media only screen and (min-width: 1024px)

.fela-zz4weo {
    padding-left: 30px;
    padding-right: 30px;
}
